@inherits LayoutComponentBase
@layout AccountLayout



    <section class="account-details-section">
        <div class="container">
            <aside>
                <ProfileInfo user="user" />
            </aside>

            <div class="account-details">
                @Body
            </div>
        </div>
    </section>

@* <div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div> *@

@code {
    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;
}