@inherits LayoutComponentBase
@layout AccountLayout



    <section class="account-details-section">
        <div class="container">
            <aside>
                <ProfileInfo />
                @* <ManageNavMenu /> *@
            </aside>

            <div class="account-details">
            </div>
        </div>
    </section>

@* <div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div> *@
