@import './sections/_header.scss';
@import './sections/home/_showcase.scss';
@import './sections/home/_features.scss';
@import './sections/home/_switch-screen-light-dark.scss';
@import './sections/home/_manage-work.scss';
@import './sections/home/_download-our-app.scss';
@import './sections/home/_work-tools.scss';
@import './sections/home/_subscribe.scss';

@import './sections/contact/_contact-us.scss';


@import './sections/auth/_signin.scss';
@import './sections/auth/_signup.scss';


@import './sections/account/_account-details-aside.scss';
@import './sections/account/_account-details.scss';
@import './sections/account/_saved-courses.scss';
@import './sections/account/_security.scss';

@import './sections/courses/_courses.scss';
@import './sections/courses/_course-card.scss';
@import './sections/courses/_course-details.scss';
@import './sections/courses/_display-courses.scss';
@import './sections/courses/_pagination.scss';







@import './sections/_footer.scss';
